.card-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(119, 107, 231, 1);
    cursor: pointer;
    background-color: transparent;

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    background-color: white;
}

.card-project-image {
    display: flex;
    height: 250px;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    background-color: transparent;
}

.card-project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(119, 107, 231, 1);
}


.card-project-description {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    color: rgba(39, 39, 47, 1);
}

.isflipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-project-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background-color: transparent;
}

.card-face-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 20px;
    border-radius: 6px;
}

/*XXL Desktop*/
@media (min-width: 1921px) {
    .card-project-title {
        font-size: 80px;
        gap: 10px
    }

    .card-project-title-icon {
        font-size: 60px !important;
    }

    .card-project-title-icon-circle {
        height: 80px;
        width: 80px;
    }

    .card-project-description {
        font-size: 35px;
    }

    .card-project-list {
        font-size: 35px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .card-project-title {
        font-size: 25px;
        gap: 10px
    }

    .card-project-description {
        font-size: 16px;
    }

    .card-project-list {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .card-project-title {
        font-size: 30px;
    }

    .card-project-description {
        font-size: 18px;
    }

    .card-project-list {
        font-size: 20px;
    }

    .card-project-header {
        padding: 20px 20px 10px 20PX;
    }

    .card-project-body {
        padding: 10px 20px;
    }

    .card-project-footer {
        padding: 10px 20px 20px 20px;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .card-project-title {
        font-size: 30px;
        gap: 10px
    }

    .card-project-title-icon {
        font-size: 20px !important;
    }

    .card-project-title-icon-circle {
        height: 30px;
        width: 30px;
    }

    .card-project-description {
        font-size: 18px;
    }

    .card-project-list {
        font-size: 18px;
    }

    .card-project-header {
        padding: 20px 20px 0 20PX;
    }

    .card-project-body {
        padding: 10px 20px;
    }

    .card-project-footer {
        padding: 0 20px 20px 20px;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .card-project-title {
        font-size: 30px;
        gap: 10px
    }

    .card-project-title-icon {
        font-size: 20px !important;
    }

    .card-project-title-icon-circle {
        height: 30px;
        width: 30px;
    }

    .card-project-description {
        font-size: 18px;
    }

    .card-project-list {
        font-size: 18px;
    }

    .card-project-header {
        padding: 20px 20px 0 20PX;
    }

    .card-project-body {
        padding: 10px 20px;
    }

    .card-project-footer {
        padding: 0 20px 20px 20px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .card-project-title {
        font-size: 25px;
        gap: 10px
    }

    .card-project-title-icon {
        font-size: 18px !important;
    }

    .card-project-title-icon-circle {
        height: 25px;
        width: 25px;
    }

    .card-project-description {
        font-size: 14px;
    }

    .card-project-list {
        font-size: 14px;
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
}