
<div class="initial w-100 vh-100-initial">

    <div class="inital-info h-100">
        <span class="info-presentation">Olá, eu sou</span>
        <div class="typewriter">
            <span class="info-name typewriter-text">André Cini</span>
        </div>
        <span class="info-summary">
            Um Desenvolvedor .NET apaixonado por tecnologia, dedicado ao aprendizado contínuo para criar aplicações robustas, escaláveis e de alto impacto.
        </span>

        <div class="info-buttons">
            <MudIconButton Href="https://www.linkedin.com/in/andr%C3%A9-cini/" Icon="@Icons.Custom.Brands.LinkedIn"
                           Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" Class="pa-2 rounded-pill" />

            <MudIconButton Href="https://github.com/andrecini" Icon="@Icons.Custom.Brands.GitHub"
                           Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" Class="pa-2 rounded-pill" />

            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large">Baixe meu CV</MudButton>
        </div>
    </div>

    <CustomInitialIllustration />

</div>
