/* /Components/Home/About/CustomAbout.razor.rz.scp.css */
.about[b-ja4l4ch4i7] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 40px;
}

.about-info[b-ja4l4ch4i7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    line-height: 1;
}

    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 120px;
        font-weight: 700;
        color: rgba(119, 107, 231, 1);
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 30px;
        font-weight: 800;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        max-width: 100%;
        text-align: start;
    }

        .about-info .about-summary b[b-ja4l4ch4i7] {
            color: rgba(119, 107, 231, 1);
        }

    .about-info .about-buttons[b-ja4l4ch4i7] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

/*XXL Desktop*/
@media (min-width: 1921px) {
    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 120px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 35px;
        line-height: 1.8;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 35px !important;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 80px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 30px;
        line-height: 1.8;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .about[b-ja4l4ch4i7] {
        padding: 0 0;
    }

    .about-info[b-ja4l4ch4i7] {
        align-items: flex-start;
        gap: 10px;
    }

        .about-info .about-title[b-ja4l4ch4i7] {
            font-size: 70px !important;
        }

        .about-info .about-subtitle[b-ja4l4ch4i7] {
            font-size: 25px;
            line-height: 1.8;
        }

        .about-info .about-summary[b-ja4l4ch4i7] {
            font-size: 20px;
            line-height: 1.5;
        }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .about[b-ja4l4ch4i7] {
        padding: 0 0;
    }

    .about-info[b-ja4l4ch4i7] {
        align-items: flex-start;
        gap: 5px;
    }

    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 60px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 20px;
        line-height: 1.5;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 16px;
        line-height: 1.50;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 45px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 16px;
        line-height: 1.5;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 14px;
        line-height: 1.50;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .about[b-ja4l4ch4i7] {
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        height: fit-content !important;
    }

    .about-info[b-ja4l4ch4i7] {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        line-height: 1;
        height: fit-content !important;
        margin-top: 50px;
    }

        .about-info .about-title[b-ja4l4ch4i7] {
            font-size: 120px !important;
        }

        .about-info .about-subtitle[b-ja4l4ch4i7] {
            font-size: 40px;
            font-weight: 800;
            text-align: center;
        }

        .about-info .about-summary[b-ja4l4ch4i7] {
            font-size: 25px;
            text-align: center;
        }
}

/*LG Smartphones*/
@media (max-width: 480px) {
    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 80px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 30px;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 20px;
    }
}

/*MD Smartphones*/
@media (max-width: 320px) {
    .about[b-ja4l4ch4i7] {
        gap: 10px;
        margin-top: 20px;
    }

    .about-info[b-ja4l4ch4i7] {
        margin-top: 25px;
    }

    .about-info .about-title[b-ja4l4ch4i7] {
        font-size: 50px !important;
    }

    .about-info .about-subtitle[b-ja4l4ch4i7] {
        font-size: 18px;
    }

    .about-info .about-summary[b-ja4l4ch4i7] {
        font-size: 16px;
        text-align: center;
    }
}
/* /Components/Home/About/CustomAboutIllustration.razor.rz.scp.css */
.illustration[b-jyqye2zxwe] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

    .illustration img[b-jyqye2zxwe] {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

/*LG Desktop*/
@media (max-width: 1600px) {
    .illustration[b-jyqye2zxwe] {
        width: 100%;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .illustration[b-jyqye2zxwe] {
        justify-content: center;
    }

        .illustration img[b-jyqye2zxwe] {
            width: 80%;
        }
}
/* /Components/Home/Initial/CustomInitial.razor.rz.scp.css */
.initial[b-4rljrxb71v] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.inital-info[b-4rljrxb71v] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
    line-height: 1;
    width: 100% !important;
}

    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 80px;
        font-weight: 700;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 140px;
        font-weight: 700;
        color: rgba(119, 107, 231, 1);
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.43;
        max-width: 90%;
        text-align: start !important;
    }

    .inital-info .info-buttons[b-4rljrxb71v] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

.typewriter[b-4rljrxb71v] {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    animation: typing-b-4rljrxb71v 3s steps(30, end), blink-caret-b-4rljrxb71v 0.75s step-end infinite;
    text-align: left;
    width: 100%;
    max-width: fit-content;
}

.typewriter-text[b-4rljrxb71v] {
    display: inline;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: -40px;
    font-size: 1.5em;
    padding-right: 1px;
}

@keyframes typing-b-4rljrxb71v {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret-b-4rljrxb71v {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}


/*XXL Desktop*/
@media (min-width: 1921px) {
    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 80px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 200px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 40px !important;
        text-align: start;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 60px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 150px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .inital-info[b-4rljrxb71v] {
        gap: 5px
    }

    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 40px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 100px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.43;
        max-width: 90%;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .initial[b-4rljrxb71v] {
        padding: 0;
    }

    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 40px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 90px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.43;
        max-width: 90%;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .initial[b-4rljrxb71v] {
        padding: 0 50px;
    }

    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 30px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 70px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 16px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .initial[b-4rljrxb71v] {
        flex-direction: column-reverse;
        padding: 40px 0 0 0;
    }

    .inital-info[b-4rljrxb71v] {
        justify-content: center;
        align-items: center;
        height: fit-content !important;
        padding: 40px 0;
    }

        .inital-info .info-presentation[b-4rljrxb71v] {
            font-size: 40px;
        }

        .inital-info .info-name[b-4rljrxb71v] {
            font-size: 120px;
        }

        .inital-info .info-summary[b-4rljrxb71v] {
            font-size: 25px;
            line-height: 1.2;
            max-width: 100%;
            text-align: center !important;
            margin-bottom: 20px;
        }
}

/*LG Smartphone*/
@media (max-width: 480px) {
        .inital-info .info-presentation[b-4rljrxb71v] {
            font-size: 40px;
        }

        .inital-info .info-name[b-4rljrxb71v] {
            font-size: 90px;
        }

        .inital-info .info-summary[b-4rljrxb71v] {
            font-size: 22px;
            line-height: 1.2;
            max-width: 100%;
            text-align: center !important;
            margin-bottom: 20px;
        }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    .inital-info[b-4rljrxb71v] {
        padding: 20px 0;
    }

    .inital-info .info-buttons[b-4rljrxb71v] {
        gap: 10px;
    }

    .inital-info .info-presentation[b-4rljrxb71v] {
        font-size: 30px;
    }

    .inital-info .info-name[b-4rljrxb71v] {
        font-size: 50px;
    }

    .inital-info .info-summary[b-4rljrxb71v] {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }
}
/* /Components/Home/Initial/CustomInitialIllustration.razor.rz.scp.css */
.illustration[b-kq2u9bi10b] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

    .illustration img[b-kq2u9bi10b] {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

/*LG Desktop*/
@media (max-width: 1600px) {
    .illustration[b-kq2u9bi10b] {
        width: 80%;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .illustration[b-kq2u9bi10b] {
        justify-content: center;
    }

        .illustration img[b-kq2u9bi10b] {
            width: 100%;
        }
}


/*LG Smartphone*/
@media (max-width: 480px) {
    .illustration[b-kq2u9bi10b] {
        width: 95% !Important;
    }
}
/* /Components/Home/Projects/CustomCardProject.razor.rz.scp.css */
.card-projects[b-l65dgaxjt4] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(119, 107, 231, 1);

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    background-color: white;
}

.card-project-image[b-l65dgaxjt4] {
    display: flex;
    height: 250px;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-project-title[b-l65dgaxjt4] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(119, 107, 231, 1);
}


.card-project-description[b-l65dgaxjt4] {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    color: rgba(39, 39, 47, 1);
}

.isflipped[b-l65dgaxjt4] {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-project-face[b-l65dgaxjt4] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front[b-l65dgaxjt4] {
    background-color: white;
}

.card-face-back[b-l65dgaxjt4] {
    background-color: white;
    transform: rotateY(180deg);
    padding: 20px;
}

/*XXL Desktop*/
@media (min-width: 1921px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 80px;
        gap: 10px
    }

    .card-project-title-icon[b-l65dgaxjt4] {
        font-size: 60px !important;
    }

    .card-project-title-icon-circle[b-l65dgaxjt4] {
        height: 80px;
        width: 80px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 35px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 35px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 50px;
        gap: 10px
    }

    .card-project-title-icon[b-l65dgaxjt4] {
        font-size: 40px !important;
    }

    .card-project-title-icon-circle[b-l65dgaxjt4] {
        height: 50px;
        width: 50px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 25px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 30px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 18px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 20px;
    }

    .card-project-header[b-l65dgaxjt4] {
        padding: 20px 20px 10px 20PX;
    }

    .card-project-body[b-l65dgaxjt4] {
        padding: 10px 20px;
    }

    .card-project-footer[b-l65dgaxjt4] {
        padding: 10px 20px 20px 20px;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 30px;
        gap: 10px
    }

    .card-project-title-icon[b-l65dgaxjt4] {
        font-size: 20px !important;
    }

    .card-project-title-icon-circle[b-l65dgaxjt4] {
        height: 30px;
        width: 30px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 18px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 18px;
    }

    .card-project-header[b-l65dgaxjt4] {
        padding: 20px 20px 0 20PX;
    }

    .card-project-body[b-l65dgaxjt4] {
        padding: 10px 20px;
    }

    .card-project-footer[b-l65dgaxjt4] {
        padding: 0 20px 20px 20px;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 30px;
        gap: 10px
    }

    .card-project-title-icon[b-l65dgaxjt4] {
        font-size: 20px !important;
    }

    .card-project-title-icon-circle[b-l65dgaxjt4] {
        height: 30px;
        width: 30px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 18px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 18px;
    }

    .card-project-header[b-l65dgaxjt4] {
        padding: 20px 20px 0 20PX;
    }

    .card-project-body[b-l65dgaxjt4] {
        padding: 10px 20px;
    }

    .card-project-footer[b-l65dgaxjt4] {
        padding: 0 20px 20px 20px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .card-project-title[b-l65dgaxjt4] {
        font-size: 25px;
        gap: 10px
    }

    .card-project-title-icon[b-l65dgaxjt4] {
        font-size: 18px !important;
    }

    .card-project-title-icon-circle[b-l65dgaxjt4] {
        height: 25px;
        width: 25px;
    }

    .card-project-description[b-l65dgaxjt4] {
        font-size: 14px;
    }

    .card-project-list[b-l65dgaxjt4] {
        font-size: 14px;
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
}
/* /Components/Home/Projects/CustomProject.razor.rz.scp.css */
.projects[b-ksh12p7ic6] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.my-projects-title[b-ksh12p7ic6] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 700;
    color: white;
    gap: 20px;
    margin-bottom: 40px
}

    .my-projects-title b[b-ksh12p7ic6] {
        color: rgba(119, 107, 231, 1);
    }

.projects-list[b-ksh12p7ic6] {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 100%; 
    max-height: 30% !important; 
    margin: 0 auto; 
    padding: 20px;
    max-height: 50%
}

/*XXL Desktop*/
@media (min-width: 1920px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 150px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 100px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 80px;
        margin: 0;
    }

    .projects-list[b-ksh12p7ic6] {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        max-height: fit-content !important;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {

    .my-projects-title[b-ksh12p7ic6] {
        font-size: 60px;
    }

    .projects-list[b-ksh12p7ic6] { 
        gap: 10px;
        padding: 0;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 50px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .projects-list[b-ksh12p7ic6] {
        height: fit-content !important;
    }

    .projects[b-ksh12p7ic6] {
        height: fit-content !important;
        gap: 20px;
    }

    .my-projects-title[b-ksh12p7ic6] {
        font-size: 100px;
        margin: 80px 0 0 0;
    }

    .projects-list[b-ksh12p7ic6] {
        grid-template-columns: repeat(2, minmax(250px, 1fr)); 
    }
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 60px;
    }

    .projects-list[b-ksh12p7ic6] {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    .my-projects-title[b-ksh12p7ic6] {
        font-size: 45px;
        gap: 10PX;
    }
}
/* /Components/Home/Skills/CustomCardSkill.razor.rz.scp.css */
.card-skills[b-3imweacouw] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(119, 107, 231, 1);

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card-skill-header[b-3imweacouw] {
    display: flex;
    justify-content: center;
    padding: 40px 40px 20px 40px;
}

.card-skill-title[b-3imweacouw] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(119, 107, 231, 1);
}

.card-skill-title-icon-circle[b-3imweacouw] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: rgba(119, 107, 231, 1);
    border-radius: 100px;
}

.card-skill-title-icon[b-3imweacouw] {
    font-size: 35px !important;
    color: white;
}

.card-skill-title-back[b-3imweacouw] {
    color: rgba(39, 39, 47, 1);
}

.card-skill-title-icon-circle-back[b-3imweacouw] {
    background: rgba(39, 39, 47, 1);
}

.card-skill-title-icon-back[b-3imweacouw] {
    font-size: 30px !important;
}

.card-skill-body[b-3imweacouw] {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

.card-skill-description[b-3imweacouw] {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px
}

.card-skill-list[b-3imweacouw] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px
}

.card-skill-list-item[b-3imweacouw] {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    align-items: baseline;
    gap: 10px;
}

.card-skill-footer[b-3imweacouw] {
    display: flex;
    justify-content: center;
    padding: 20px 40px 40px 40px;
}

.isflipped[b-3imweacouw] {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-skill-face[b-3imweacouw] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front[b-3imweacouw] {
    background-color: transparent;
}

.card-face-back[b-3imweacouw] {
    background: rgba(119, 107, 231, 1);
    transform: rotateY(180deg);
}

/*XXL Desktop*/
@media (min-width: 1921px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 80px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 60px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 80px;
        width: 80px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 35px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 35px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 50px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 40px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 50px;
        width: 50px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 25px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 40px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 30px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 40px;
        width: 40px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 20px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 20px;
    }

    .card-skill-header[b-3imweacouw] {
        padding: 20px 20px 10px 20PX;
    }

    .card-skill-body[b-3imweacouw] {
        padding: 10px 20px;
    }

    .card-skill-footer[b-3imweacouw] {
        padding: 10px 20px 20px 20px;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 30px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 20px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 30px;
        width: 30px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 18px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 18px;
    }

    .card-skill-header[b-3imweacouw] {
        padding: 20px 20px 0 20PX;
    }

    .card-skill-body[b-3imweacouw] {
        padding: 10px 20px;
    }

    .card-skill-footer[b-3imweacouw] {
        padding: 0 20px 20px 20px;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 30px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 20px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 30px;
        width: 30px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 18px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 18px;
    }

    .card-skill-header[b-3imweacouw] {
        padding: 20px 20px 0 20PX;
    }

    .card-skill-body[b-3imweacouw] {
        padding: 10px 20px;
    }

    .card-skill-footer[b-3imweacouw] {
        padding: 0 20px 20px 20px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
   
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .card-skill-title[b-3imweacouw] {
        font-size: 25px;
        gap: 10px
    }

    .card-skill-title-icon[b-3imweacouw] {
        font-size: 18px !important;
    }

    .card-skill-title-icon-circle[b-3imweacouw] {
        height: 25px;
        width: 25px;
    }

    .card-skill-description[b-3imweacouw] {
        font-size: 14px;
    }

    .card-skill-list[b-3imweacouw] {
        font-size: 14px;
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    
}
/* /Components/Home/Skills/CustomSkills.razor.rz.scp.css */
.skills[b-5bpjwgayhw] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.my-skills-title[b-5bpjwgayhw] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 700;
    color: white;
    gap: 20px;
    margin-bottom: 40px
}

    .my-skills-title b[b-5bpjwgayhw] {
        color: rgba(119, 107, 231, 1);
    }

.skills-list[b-5bpjwgayhw] {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Ajusta o número de colunas conforme a largura */
    gap: 40px;
    width: 100%;
    max-width: 100%; /* Limite máximo de largura */
    margin: 0 auto; /* Centraliza o grid */
    padding: 20px;
}

/*XXL Desktop*/
@media (min-width: 1920px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 150px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 100px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 80px;
        margin: 0;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {

    .my-skills-title[b-5bpjwgayhw] {
        font-size: 60px;
    }

    .skills-list[b-5bpjwgayhw] {
        gap: 10px;
        padding: 0;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 50px;
    }

    .skills-list[b-5bpjwgayhw] {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Ajusta o número de colunas conforme a largura */
        gap: 20px;
        padding: 0;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .skills[b-5bpjwgayhw] {
        height: fit-content !important;
        gap: 20px;
    }

    .my-skills-title[b-5bpjwgayhw] {
        font-size: 100px;
        margin: 80px 0 0 0;
    }

    .skills-list[b-5bpjwgayhw] {
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Ajusta o número de colunas conforme a largura */
    }
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 60px;
    }

    .skills-list[b-5bpjwgayhw] {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    .my-skills-title[b-5bpjwgayhw] {
        font-size: 45px;
        gap: 10PX;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-08p422cufl] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-08p422cufl] {
    flex: 1;
}

.sidebar[b-08p422cufl] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-08p422cufl] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-08p422cufl]  a, .top-row[b-08p422cufl]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-08p422cufl]  a:hover, .top-row[b-08p422cufl]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-08p422cufl]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-08p422cufl] {
        justify-content: space-between;
    }

    .top-row[b-08p422cufl]  a, .top-row[b-08p422cufl]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-08p422cufl] {
        flex-direction: row;
    }

    .sidebar[b-08p422cufl] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-08p422cufl] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-08p422cufl]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-08p422cufl], article[b-08p422cufl] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
