
<div class="about w-100 vh-100-initial mb-10">

    <CustomAboutIllustration />

    <div class="about-info vh-100 w-100">
        <span class="about-title">Sobre Mim</span>
        <span class="about-subtitle">Engenheiro da Computação e Desenvolvedor .NET</span>
        <span class="about-summary">
            Atualmente, estou cursando <b>Engenharia da Computação</b> na Faculdade Engenheiro Salvador Arena (FESA), com previsão
            de conclusão em dezembro de 2024. Com <b>4 anos de experiência no ecossitema .NET</b>, minha trajetória abrange
            desde a manutenção de aplicações legadas até o desenvolvimento de <b>Sistemas Monolíticos e Microsserviços</b>.
            Especializo-me em <b>desenvolvimento backend</b>, embora também seja um entusiasta do frontend, com um carinho especial 
            por <b>Blazor</b>. Tenho experiência em Cloud, utilizando <b>AWS e Azure</b>, com foco em <b>Arquiteturas Serverless</b>.
            Sou um estudante ávido, sempre em busca de atualizações e novas tecnologias. Atualmente, participo de uma Mentoria .NET
            com a NextWave Education, com o objetivo de expandir continuamente meu conhecimento técnico.
        </span>
    </div>
</div>
