.card-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(119, 107, 231, 1);

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card-skill-header {
    display: flex;
    justify-content: center;
    padding: 40px 40px 20px 40px;
}

.card-skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(119, 107, 231, 1);
}

.card-skill-title-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: rgba(119, 107, 231, 1);
    border-radius: 100px;
}

.card-skill-title-icon {
    font-size: 35px !important;
    color: white;
}

.card-skill-title-back {
    color: rgba(39, 39, 47, 1);
}

.card-skill-title-icon-circle-back {
    background: rgba(39, 39, 47, 1);
}

.card-skill-title-icon-back {
    font-size: 30px !important;
}

.card-skill-body {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

.card-skill-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px
}

.card-skill-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px
}

.card-skill-list-item {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    align-items: baseline;
    gap: 10px;
}

.card-skill-footer {
    display: flex;
    justify-content: center;
    padding: 20px 40px 40px 40px;
}

.isflipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-skill-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background-color: transparent;
}

.card-face-back {
    background: rgba(119, 107, 231, 1);
    transform: rotateY(180deg);
}

/*XXL Desktop*/
@media (min-width: 1921px) {
    .card-skill-title {
        font-size: 80px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 60px !important;
    }

    .card-skill-title-icon-circle {
        height: 80px;
        width: 80px;
    }

    .card-skill-description {
        font-size: 35px;
    }

    .card-skill-list {
        font-size: 35px;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .card-skill-title {
        font-size: 50px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 40px !important;
    }

    .card-skill-title-icon-circle {
        height: 50px;
        width: 50px;
    }

    .card-skill-description {
        font-size: 25px;
    }

    .card-skill-list {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .card-skill-title {
        font-size: 40px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 30px !important;
    }

    .card-skill-title-icon-circle {
        height: 40px;
        width: 40px;
    }

    .card-skill-description {
        font-size: 20px;
    }

    .card-skill-list {
        font-size: 20px;
    }

    .card-skill-header {
        padding: 20px 20px 10px 20PX;
    }

    .card-skill-body {
        padding: 10px 20px;
    }

    .card-skill-footer {
        padding: 10px 20px 20px 20px;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .card-skill-title {
        font-size: 30px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 20px !important;
    }

    .card-skill-title-icon-circle {
        height: 30px;
        width: 30px;
    }

    .card-skill-description {
        font-size: 18px;
    }

    .card-skill-list {
        font-size: 18px;
    }

    .card-skill-header {
        padding: 20px 20px 0 20PX;
    }

    .card-skill-body {
        padding: 10px 20px;
    }

    .card-skill-footer {
        padding: 0 20px 20px 20px;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .card-skill-title {
        font-size: 30px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 20px !important;
    }

    .card-skill-title-icon-circle {
        height: 30px;
        width: 30px;
    }

    .card-skill-description {
        font-size: 18px;
    }

    .card-skill-list {
        font-size: 18px;
    }

    .card-skill-header {
        padding: 20px 20px 0 20PX;
    }

    .card-skill-body {
        padding: 10px 20px;
    }

    .card-skill-footer {
        padding: 0 20px 20px 20px;
    }
}

/*Tablets*/
@media (max-width: 768px) {
   
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .card-skill-title {
        font-size: 25px;
        gap: 10px
    }

    .card-skill-title-icon {
        font-size: 18px !important;
    }

    .card-skill-title-icon-circle {
        height: 25px;
        width: 25px;
    }

    .card-skill-description {
        font-size: 14px;
    }

    .card-skill-list {
        font-size: 14px;
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    
}