.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    gap: 40px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    line-height: 1;
}

    .about-info .about-title {
        font-size: 120px;
        font-weight: 700;
        color: rgba(119, 107, 231, 1);
    }

    .about-info .about-subtitle {
        font-size: 30px;
        font-weight: 800;
    }

    .about-info .about-summary {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        max-width: 100%;
        text-align: start;
    }

        .about-info .about-summary b {
            color: rgba(119, 107, 231, 1);
        }

    .about-info .about-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

/*XXL Desktop*/
@media (min-width: 1921px) {
    .about-info .about-title {
        font-size: 120px !important;
    }

    .about-info .about-subtitle {
        font-size: 35px;
        line-height: 1.8;
    }

    .about-info .about-summary {
        font-size: 35px !important;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .about-info .about-title {
        font-size: 80px !important;
    }

    .about-info .about-subtitle {
        font-size: 30px;
        line-height: 1.8;
    }

    .about-info .about-summary {
        font-size: 25px;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .about {
        padding: 0 0;
    }

    .about-info {
        align-items: flex-start;
        gap: 10px;
    }

        .about-info .about-title {
            font-size: 80px !important;
        }

        .about-info .about-subtitle {
            font-size: 30px;
            line-height: 1.8;
        }

        .about-info .about-summary {
            font-size: 22px;
            line-height: 1.5;
        }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .about {
        padding: 0 0;
    }

    .about-info {
        align-items: flex-start;
        gap: 5px;
    }

    .about-info .about-title {
        font-size: 60px !important;
    }

    .about-info .about-subtitle {
        font-size: 20px;
        line-height: 1.5;
    }

    .about-info .about-summary {
        font-size: 16px;
        line-height: 1.50;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
    .about-info .about-title {
        font-size: 45px !important;
    }

    .about-info .about-subtitle {
        font-size: 16px;
        line-height: 1.5;
    }

    .about-info .about-summary {
        font-size: 14px;
        line-height: 1.50;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        height: fit-content !important;
    }

    .about-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        line-height: 1;
        height: fit-content !important;
        margin-top: 50px;
    }

        .about-info .about-title {
            font-size: 120px !important;
        }

        .about-info .about-subtitle {
            font-size: 40px;
            font-weight: 800;
            text-align: center;
        }

        .about-info .about-summary {
            font-size: 25px;
            text-align: center;
        }
}

/*LG Smartphones*/
@media (max-width: 480px) {
    .about-info .about-title {
        font-size: 80px !important;
    }

    .about-info .about-subtitle {
        font-size: 30px;
    }

    .about-info .about-summary {
        font-size: 20px;
    }
}

/*MD Smartphones*/
@media (max-width: 320px) {
    .about {
        gap: 10px;
        margin-top: 20px;
    }

    .about-info {
        margin-top: 25px;
    }

    .about-info .about-title {
        font-size: 50px !important;
    }

    .about-info .about-subtitle {
        font-size: 18px;
    }

    .about-info .about-summary {
        font-size: 16px;
        text-align: center;
    }
}