.main-container-padding {
    padding-right: 80px !important;
    padding-left: 80px !important;
}

/*XXL Desktop*/
@media (min-width: 1921px) {
    .mud-button-label {
        font-size: 30px !important;
    }

    .mud-icon-size-large {
        font-size: 40px !important;
    }
}

/*XL Desktop*/
@media (max-width: 1920px) {
    .mud-button-label {
        font-size: 25px !important;
    }

    .mud-icon-size-large {
        font-size: 35px !important;
    }
}

/*LG Desktop*/
@media (max-width: 1600px) {
    .mud-button-label {
        font-size: 20px !important;
    }

    .mud-icon-size-large {
        font-size: 30px !important;
    }
}

/*MD Desktop*/
@media (max-width: 1200px) {
    .mud-button-label {
        font-size: 18px !important;
    }

    .mud-icon-size-large {
        font-size: 20px !important;
    }
}

/*SM Desktop*/
@media (max-width: 1024px) {
}

/*Tablets*/
@media (max-width: 768px) {
    .main-container-padding {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
}

/*LG Smartphone*/
@media (max-width: 480px) {
    .main-container-padding {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

/*MD Smartphone*/
@media (max-width: 320px) {
    .mud-button-label {
        font-size: 14px !important;
    }

    .mud-icon-size-large {
        font-size: 18px !important;
    }
}

