@page "/"
@using Portifolio.Professional.Components.Home.About
@using Portifolio.Professional.Components.Home.Initial
@using Portifolio.Professional.Components.Home.Projects
@using Portifolio.Professional.Components.Home.Skills

<div class="d-flex flex-column w-100 mw-100">

    <CustomInitial />

    <CustomAbout />

    @* <CustomSkills />

    <CustomProject /> *@
</div>
