@page "/"
@using Portifolio.Components.Home.About
@using Portifolio.Components.Home.Initial
@using Portifolio.Components.Home.Projects
@using Portifolio.Components.Home.Skills

<div class="d-flex flex-column w-100 mw-100">

    <CustomInitial />

    <CustomAbout />

    <CustomSkills />

    <CustomProject />

</div>
